@import "tailwindcss";

h1 {
    @apply py-2 px-4 bg-black text-white font-[vcr] font-bold my-4 text-base md:text-2xl;
}

h2 {
    @apply font-[vcr] font-semibold mt-4 mb-2 text-xl md:text-2xl;
}

h3 {
    @apply font-[vcr] font-semibold mt-4 mb-2 text-lg md:text-xl;
}

h4, h5 {
    @apply font-[vcr] font-semibold mt-4 mb-2 text-base md:text-lg;
}

p {
    @apply font-[jetbrains-mono] text-base mb-4;
}

ul, ol {
    @apply my-2 pl-6 list-disc marker:font-semibold;
}

ol {
    @apply list-decimal ;
}

img {
    @apply w-full h-50 object-cover border-4 border-black my-4;
}

blockquote {
    @apply border-l-4 border-black pl-4 italic my-2;
}

code {
    @apply bg-gray-200 my-1 px-1 rounded;
}

main > p > a {
    @apply text-blue-700 hover:underline transition ease-in-out duration-200
};
