---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <main class="flex flex-col w-full justify-center items-center h-screen">
        <h1 class="text-3xl mb-4 font-[vcr]">404</h1>
        <section class="flex flex-col text-center">
            
            <p class="text-base font-[jetbrains-mono]">
                You look lost. I can fix that.
            </p>
            <a href="/" class="mt-6 text-sm underline hover:no-underline">
                RETURN HOME
            </a>
        </section>
    </main>

</BaseLayout>