---
import BlogContainer from "../components/BlogContainer";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
   <section class="flex flex-col pt-10 w-full">
        <section class="flex justify-center mb-10">
            <h1 class="flex w-fit justify-center text-2xl bg-black text-white px-4 py-2">
                // MOSTLY COHERENT BLOG
            </h1>
        </section>
        <section>
            <BlogContainer client:load />
        </section>
        
    </section>
</BaseLayout>