---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
   <section class="flex flex-col items-center pt-10">
        <h1 class=" justify-center text-2xl bg-black text-white px-4 py-2">
            BLOG :)
        </h1>
    </section>
</BaseLayout>