---
import Navigation from "../components/Navigation.astro";
import IndexButton from "../components/IndexButton.tsx";
import "../styles/global.css";

const pageTitle = "Mathew Gutoskie"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="flex justify-center h-svh w-svw font-[vcr]">
		<Navigation />
		<main class="flex flex-col px-4 justify-center h-full w-full uppercase">
			<section class="flex flex-col items-center">
				<section class=" flex w-70 flex-wrap gap-2 justify-center items-center mt-10">
					<IndexButton client:load text="Blog" link="/blog"/>
					<IndexButton client:load text="Work" link="/work"/>
					<IndexButton client:load text="About" link="/about"/>
					<IndexButton client:load text="Contact" link="/contact"/>
				</section>
			</section>
		</main>
	</body>
</html>
