---
import { marked } from 'marked';
import BaseLayout from "../../../layouts/BaseLayout.astro"
import "../../../styles/post.css"
import BlogPostAnimation from "../../../components/BlogPostAnimation";
import { Badge } from '../../../components/WorkContainer';
import { Tag } from '../../../components/BlogContainer';
export const prerender = false; 
const { id } = Astro.params;
let error:boolean = false;

async function GETPOST(documentID:string) {
    const apiKey = import.meta.env.STRAPI_READ_KEY;
    const endpoint = "https://api.mgut.ca/api/blog-posts/" + documentID;

    if (!apiKey) {
        console.error("STRAPI_READ_KEY is not set in .env file");
        return new Response(
        JSON.stringify({ message: "Server config error." }),
        { status: 500 }
        );
    }

    if (!documentID) {
        console.error("Document ID missing from call");
        return new Response(
        JSON.stringify({ message: "Server config error." }),
        { status: 500 }
        );
    }

    const bearer = 'Bearer ' + apiKey;

    try {
        const res = await fetch(endpoint, {
        headers: {
            'Authorization': bearer
        }
        });

        if (!res.ok) {
        throw new Error(`Failed to fetch from Strapi: ${res.statusText}`);
        }

        const data = await res.json();
        
        return new Response(JSON.stringify(data), {
        status: 200,
        headers: { 'Content-Type': 'application/json' }
        });

    } 
    catch (error) {
        return new Response(
        JSON.stringify({ message: "An error occurred while fetching posts." }),
        { status: 500 }
        );
    }
}

let response;
let postData;

if(id){
    const data = await GETPOST(id);
    if(data.status != 200 && data){
        error = true;
    }
    else {
        const json = await data.json();
        const markdown = json.data?.body || "";
        response = marked.parse(markdown);
        postData = json.data;
    }
}
else{
    error = true;
}

---


<BaseLayout pageTitle={postData ? postData.title : "A blog post" }>
    
    { error &&
        <section class="flex flex-col justify-center items-center mt-10">
            <h1 class="font-semibold animate-bounce">Transmission failed</h1>
            <p class="text-xs animate-pulse">xxxxxxxxxx</p>
        </section>
    }

    { response &&
        <BlogPostAnimation client:only>
            <main
                set:html={response} 
                class="flex flex-col h-full font-[terminal] lg:px-12 md:px-10 sm:px-6 px-4 py-8 max-w-4xl mx-auto z-30 mb-40"
            >
                {postData &&
                    <section class="flex flex-col mb-6">
                        <h1 class="text-3xl font-bold">{postData.title}</h1>
                        <section class="flex mt-2 gap-2">
                            <Tag category={postData.category} />
                            <Tag category={"Posted: " + new Date(postData.createdAt).toLocaleDateString()} />
                            <Tag category={"Updated: " + new Date(postData.updatedAt).toLocaleDateString()} />
                        </section>
                        <div class="mt-6 h-0.25 w-full bg-black" />
                    </section>
                }
            </main>
        </BlogPostAnimation>
        
    }

</BaseLayout>